@charset "UTF-8";
/*기본색상*/

:root {
  --main-color: #5d9ab2;
  --accent-color: #007aff;
  --dark-main-color: #2b5566;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --gray-color: #ddd;
  --large-width: 1120px;
  --middle-width: 768px;
}

/*기본 폰트 크기 설정*/

@media (max-width: 599px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}

/* body {
  font-size: 16px;
} */

/*기본 설정: 페이지 전체*/

body {
  margin: 0;
  font-family: Noto Sans KR, sans-serif;
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

#demo {background-image: url(https://www.unicef.or.kr/unicef/api/common/attachFile/img/view/grpNo/1646971649396);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
width: 1668px;
}






header.nohero{
  position: static;
  border-bottom: 1px solid #ddd;
}

/* logo */
.headA {
  display: inline-block;
  line-height: 70px;
  padding: 0 20px;
  background-color: var(--main-color);
  background-color: #5d9ab2;
  color: var(--text-bright-color);
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

/* navigation */
.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.headB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 큰 화면 전용 */
@media (min-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .headB ul {
    display: flex;
  }
  .headB a {
    font-size: 14px;
  }

  .headC {
    display: none;
  }

  .headB{
    display: block !important;
  }
}

/* 작은 화면 전용 */

@media (max-width: 767px){
    header .container-small{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headB {
        display: none;
    }

    .headC{
        outline: none; border: none;
        background: none; padding: 0;
        margin-right: 10px; font-size: 28px;
        cursor: pointer; opacity: 0.5;
    }
    .headC:hover{opacity: 0.3;}
}

/* conA - hero image */

.conA{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
  url("https://www.unicef.or.kr/unicef/api/common/attachFile/img/view/grpNo/1658273585421");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 450px;
  color: var(--text-bright-color);
  text-align: center;
  
}

.conA h1 {
  position: relative;
  right: 300px;
}
.conA p {
  position: relative;
  right: 300px;
}
.conA a {
  position: relative;
  right: 300px;
}




.conA h1{
  font-family: Noto Sans KR, sans-serif;
  font-size: 5vw; letter-spacing: 0.2em;
  margin-top: 0; margin-bottom: 10px; margin-left: 0.2em;
  background-color: #fff;
  color: #007aff;
}
.conA img{
  width: 20%;
}
.conA p{
  margin-top: 0; margin-bottom: 0; font-size: 3vw;
  background-color: #fff;
  color: #2D2926;
  
}
.conA a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: #fff;
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none;
  box-shadow: 0 0 0 1px #888;
}
.conA a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

@media (min-width: 768px){
  .conA h1{
    font-size: 40px; 
  }
  .conA p{
    font-size: 20px;
  }
}

/* conB - 개요: 아이콘 + 텍스트 */
.conB .container{
  padding-top: 80px; padding-bottom: 20px;
}

.conB .text{
  text-align: center;
  padding: 0 20px 60px;
}

.conB h2{
  margin-top: 0;
  margin-bottom: 10px; font-size: 20px;
}

.conB p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conB a {
  color: #5D9AB2;
  text-decoration: none;
}

.conB a:hover {
  text-decoration: underline;
}

.conB .icon {
  display: inline-block;
  width: 2em;
  font-size: 40px;
  background-color: #ddd;
  color: #fff;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .conB .container{
    display: flex;
    max-width: var(--large-width);
    margin: auto;
  }

  .conB .text{
    flex: 1;
  }

}

/* conC : text */
.conC{
  background-color: var(--main-color);
  color: var(--text-bright-color);
}
.conC .text{
  padding: 20px;
}

.conC h2{
  margin-top: 0;
  margin-bottom: 10px; font-size: 20px;
}

.conC p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none;
}
.conC a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conC .photo{
  background-image: url(../images/note.jpg);
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px){
  .conC .container{
    display: flex;
    max-width: var(--large-width);
    margin: auto;
  }

  .conC .photo{
    flex: 3
  }
  .conC .text{
    flex: 2
  }
}

/* conD: 개요 - 텍스트 + 이미지 */
.conD .container{
  padding-top: 2px;
}

.conD .text{
  padding: 20px;
}

.conD h2{
  margin-top: 0;
  margin-bottom: 10px; font-size: 20px;
}

.conD p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none;
  box-shadow: 0 0 0 1px #888;

}
.conD a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conD .photo{
  background-image: url(../images/life.jpg);
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px){
  .conD .container{
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .conD .photo{
    flex:  0 0 400px;
  }
  .conD .text{
    flex: 1;
  }
}

/* footer: 주소, sns, submenu */

footer{
  background-color: var(--dark-main-color);
  color: #fff;
}

footer .container{
  padding: 40px 20px;
}

@media (min-width: 768px){
  footer .container{
    display: flex;
    flex-wrap: wrap; max-width: var(--large-width);
    margin: auto;
  }

  .footA{flex: 0 0 40%}
  .footB{flex: 0 0 60%}
  .footC{flex: 0 0 100%}

  .footB{
    display: flex;
  }
  .footB div{flex: 1}
  .footB div:not(:last-child){
    margin-right: 40px;
  }


}

.footA{margin-bottom: 30px;}
.footA h2{
  margin-top: 0;
  margin-bottom: 10px; 
  font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.footA p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.footA a{color: inherit; text-decoration: none;}

.footB div{ margin-bottom: 20px;}

.footB h3{
  margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid currentColor;
}
.footB ul{
  margin: 0; padding: 0; list-style: none; 
}
.footB a{
  display: block; padding:  5px; color: inherit;
  font-size: 12px; text-decoration:  none;
}

.footB a:hover{
  background-color: rgba(0,0,0,0.3);
}

.footC{
  font-size: 12px; text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footD{
  margin-top: 20px;
}
.footD ul{
  display: flex;
  margin: 0; padding: 0;
  list-style: none;
}

.footD a{
  display: block;
  margin-right: 8px;
  padding: 0; color: inherit;
  font-size: 16px; text-decoration: none;
  border: 1px solid currentColor;
  width: 2em; line-height: 2em;
  text-align: center;
  border-radius: 50%;
}

.footD a:hover{
  background-color: rgba(0,0,0,0.3);
}


/* contact page:  연락처, 지도 */
article{
  padding: 20px;
  /* margin: 10px; */
  max-width: var(--large-width);
  margin: auto;
}

article h1 {
	padding-left: 0.5rem;
	border-left: solid 0.75rem var(--accent-color);
	font-size: 2rem;
}

article p {
	font-size: 1rem;
	line-height: 2;
}

.contact{
  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.contact span{
  display: inline-block;
    margin-bottom: 20px;
    font-size: 2.2rem;
    width: 2em;
    line-height: 2em;
    background-color: #5D9ABE;
    color: #fff;
    border-radius: 50%
}

.contact h2{
  margin-top: 0;
  font-size: 1.2rem;
}

.contact a{
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
}

@media (min-width: 768px){
  .contact_wrap{
    display: flex;
  }
  .contact{flex: 1}
  .contact:first-child{
    margin-right: 20px;
  }
}

.location iframe{
  width: 100%; height: 400px;
  vertical-align: bottom;
}

.location h2{
  margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5D9AB2;
    color: #ddd;
    font-size: 1.5rem;
    text-align: center;
}

/* breadcrumb */
div.bread ol{
  display: flex;
  margin: 0; padding: 0;
  list-style: none;
}

div.bread a{
  display: block; padding:  5px;
  color: inherit; font-size: 0.875rem;
  text-decoration: none;
}
div.bread a::after{
  margin-left: 10px;
  content: '\f054';
  font-family: 'FontAwesome';
  opacity: 0.3;
}

.bread a:hover {
  background-color: rgba(0,0,0,0.3);
}


/* list-a: 이미지 갤러리 */
.conA.compact{
  height: 450px;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/balloon.jpg);
}

.listA .container{
  display: flex;
  max-width: 1000px; margin: 30px auto;
  flex-wrap: wrap;
}

.listA article{
  flex: 1 1 300px;
  padding: 0;
}

.listA a{
  margin: 10px; display: block;
  border: 1px solid #ddd;
  text-decoration: none; color: inherit
}

.listA a:hover{
  opacity: 0.8;
}

.listA .photo{
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.listA h2{
  font-size: 18px;
}
.listA p{
  font-size: 14px;
  opacity: 0.8;
}
.listA .text{
  margin: 10px;
}